numpy

fastapi==0.63.0
uvicorn==0.13.3
transformers==4.2.2
captum==0.3.1

--find-links https://download.pytorch.org/whl/cu100/torch_stable.html
torch==1.4.0

git+https://github.com/xai-demonstrator/xai-demonstrator.git@d3b0999e3bc9c7f1b16afac63d11516e44037620#egg=xaidemo&subdirectory=common/backend-utils
