numpy

fastapi==0.63.0
uvicorn==0.13.3
transformers==4.2.2
captum==0.3.1

--find-links https://download.pytorch.org/whl/cu100/torch_stable.html
torch==1.4.0

git+https://github.com/xai-demonstrator/xai-demonstrator.git@3e428f38f6cbdcec8321c3f78ba6755166c61b25#egg=xaidemo&subdirectory=common/backend-utils
