wheel
numpy
pydantic
matplotlib==3.4.2

fastapi==0.68.1
uvicorn==0.15.0
transformers==4.11.0
captum==0.4.0

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.1

git+https://github.com/xai-demonstrator/xai-demonstrator.git@14de5f249e4c4b43085c4922bfcf890f8b8277a3#egg=xaidemo&subdirectory=common/backend-utils
