wheel
numpy
pydantic
matplotlib==3.4.2

fastapi==0.68.0
uvicorn==0.14.0
transformers==4.8.2
captum==0.4.0

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cpu

git+https://github.com/xai-demonstrator/xai-demonstrator.git@f1c235958a38d5e97061231a559c2a47b71ff32c#egg=xaidemo&subdirectory=common/backend-utils
