wheel
numpy
pydantic

fastapi==0.70.0
uvicorn==0.15.0
transformers==4.12.5
captum==0.4.1

git+https://github.com/xai-demonstrator/xai-demonstrator.git@7ae03d8c808c05f22b61acf921793261b3b5619a#egg=xaidemo&subdirectory=common/backend-utils
