__pycache__
.pytest_cache/
.ipynb_checkpoints/
.idea/
.DS_STORE

/experiments
/node_modules

-r /landing-page/frontend/.gitignore

-r /review-sentiment/sentiment-frontend/.gitignore
-r /review-sentiment/sentiment-backend/.gitignore

-r /visual-inspection/inspection-frontend/.gitignore
-r /visual-inspection/inspection-backend/.gitignore
