# Python and dev tool files and folders
__pycache__/
.pytest_cache/
.mypy-cache/
.ipynb_checkpoints/
.coverage
htmlcov/
node_modules/
.idea/
.DS_STORE

# Binary files and archives
*.tar
*.tar.gz
*.zip
*.whl

/experiments

-r /landing-page/frontend/.gitignore

-r /review-sentiment/sentiment-frontend/.gitignore
-r /review-sentiment/sentiment-backend/.gitignore

-r /visual-inspection/inspection-frontend/.gitignore
-r /visual-inspection/inspection-backend/.gitignore
