wheel
numpy

fastapi==0.63.0
uvicorn==0.13.3
aiofiles==0.6.0
python-multipart==0.0.5
lime==0.2.0.1

opentelemetry-api

tensorflow-cpu==2.4.1
Pillow==8.1.0

git+https://github.com/xai-demonstrator/xai-demonstrator.git@a73f37d38cb3c531c96ebdc779cff17e7a38169d#egg=xaidemo&subdirectory=common/backend-utils
