wheel
numpy

fastapi==0.63.0
uvicorn==0.13.3
aiofiles==0.6.0
python-multipart==0.0.5
lime==0.2.0.1

opentelemetry-api==0.17b0
opentelemetry-sdk==0.17b0
opentelemetry-instrumentation-fastapi==0.17b0
opentelemetry-exporter-jaeger==0.17b0

tensorflow-cpu==2.4.1
Pillow==8.1.0
