fastapi==0.78.0
uvicorn==0.18.1

shapely
requests
opencv-python
matplotlib
lime
scikit-image
numpy
tensorflow-cpu==2.9.1
python-multipart
pydantic

git+https://github.com/xai-demonstrator/xai-demonstrator.git@318ad17a9ebf2760f4f23b45cfdc29d18d393ec4#egg=xaidemo&subdirectory=common/backend-utils
