version: '3.7'

services:
  landing:
    image: ghcr.io/xai-demonstrator/landing-page-service:latest
    depends_on:
      - inspection
      - sentiment
    expose:
      - 80
    environment:
      - VIRTUAL_HOST=test.xaidemo.de
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=test.xaidemo.de
      - LETSENCRYPT_EMAIL=xai.demonstrator@gmail.com
    restart: always

  sentiment:
    image: ghcr.io/xai-demonstrator/review-sentiment-service:latest
    expose:
      - 8000
    environment:
      - TRACING_EXPORTER=jaeger
      - JAEGER_AGENT_HOST_NAME=jaeger

  inspection:
    image: ghcr.io/xai-demonstrator/visual-inspection-service:latest
    expose:
      - 8000
    environment:
      - TRACING_EXPORTER=jaeger
      - JAEGER_AGENT_HOST_NAME=jaeger

  jaeger:
    image: jaegertracing/all-in-one
    expose:
      - 6831
    ports:
      - 16686:16686
    restart: always

networks:
  default:
    external:
      name: nginx-proxy
