name: Backend Utils

on:
  push:
    paths:
      - 'common/backend-utils/**'
      - '!common/backend-utils/**.md'

jobs:
  test-xaidemo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2.3.0
        with:
          python-version: 3.8
      - uses: actions/cache@v2.1.7
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('./common/backend-utils/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Lint with flake8
        run: |
          set -e
          cd ./common/backend-utils/
          echo $PWD
          pip install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Install package
        run: |
          set -e
          cd ./common/backend-utils/
          echo $PWD
          python -m pip install --upgrade pip
          pip install -e .
      - name: Run unit tests with pytest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: sentiment-utils
          ON_MASTER: ${{ github.ref == 'refs/heads/master' }}
        run: |
          set -e
          cd ./common/backend-utils/
          echo $PWD
          pip install -r requirements-test.txt
          pytest -v --cov=xaidemo tests/
          # when on master, pretend to be on branch x-cov-backend-utils
          $ON_MASTER && export GITHUB_REF="refs/heads/x-cov-backend-utils"
          $ON_MASTER && export GITHUB_HEAD_REF="x-cov-backend-utils"
          coveralls --service=github
