name: Documentation

on:
  push:
    paths:
      - 'docs/**'
    branches:
      - master


jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@master
    - name: Deploy MkDocs
      uses: mhausenblas/mkdocs-deploy-gh-pages@1.18
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Slack Notification
      uses: rtCamp/action-slack-notify@v2.1.3
      env:
        SLACK_CHANNEL: xai-demonstrator-monitor
        SLACK_MESSAGE: 'Deployed a new version of the docs :book: at https://xai-demonstrator.github.io/xai-demonstrator/ :nerd_face:'
        SLACK_TITLE: New Docs Deployment
        SLACK_USERNAME: Deployment Monitor
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        MSG_MINIMAL: true
