name: Landing Page

on:
  push:
    paths:
      - 'landing-page/**'
      - '!landing-page/**.md'
      - 'review-sentiment/sentiment-frontend/**'
      - 'visual-inspection/inspection-frontend/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Set up Node 12
        uses: actions/setup-node@v2
        with:
          node-version: '12'

      - uses: actions/cache@v2.1.6
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('./landing-page/frontend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: |
          set -e
          cd ./landing-page/frontend
          echo $PWD
          npm install

      - name: Test build
        run: |
          set -e
          cd ./landing-page/frontend
          echo $PWD
          npm run build

  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Checkout code
      uses: actions/checkout@master

    - name: Create container and publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@3.04
      with:
        name: xai-demonstrator/landing-page-service
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: ghcr.io
        workdir: ./
        context: ./
        dockerfile: landing-page/Dockerfile
