name: Landing Page

on:
  push:
    paths:
      - 'landing-page/**'
      - '!landing-page/**.md'
      - 'review-sentiment/sentiment-frontend/**'
      - 'visual-inspection/inspection-frontend/**'
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@master
    - name: Create container and publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@3.02
      with:
        name: xai-demonstrator/landing-page-service
        username: ${{ secrets.GHCR_PAT_OWNER }}
        password: ${{ secrets.GHCR_WRITE }}
        registry: ghcr.io
        workdir: ./
        context: ./
        dockerfile: landing-page/Dockerfile
