name: Review Sentiment

on:
  push:
    paths:
      - 'review-sentiment/**'
      - '!review-sentiment/**.md'

jobs:
  test-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2.2.1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          set -e
          cd ./review-sentiment/sentiment-backend
          echo $PWD
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          set -e
          cd ./review-sentiment/sentiment-backend
          echo $PWD
          pip install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Run unit tests with pytest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: sentiment-backend-unit
          COVERALLS_PARALLEL: ${{ github.ref == 'refs/heads/master' }}
        run: |
          set -e
          cd ./review-sentiment/sentiment-backend
          echo $PWD
          pip install -r requirements-test.txt
          pytest -v --cov=sentiment -m "not integration" tests/
          # when on master, pretend to be on branch x-cov-sentiment-backend
          $COVERALLS_PARALLEL && export GITHUB_REF="refs/heads/x-cov-sentiment-backend"
          $COVERALLS_PARALLEL && export GITHUB_HEAD_REF="x-cov-sentiment-backend"
          coveralls --service=github

  test-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Set up Node 12
        uses: actions/setup-node@v2
        with:
          node-version: '12'
      - name: Install dependencies
        run: |
          set -e
          cd ./review-sentiment/sentiment-frontend
          echo $PWD
          npm install
      - name: Run tests
        run: |
          set -e
          cd ./review-sentiment/sentiment-frontend
          echo $PWD
          npm test
      - name: Report coverage
        if: github.ref == 'refs/heads/master'
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./review-sentiment/sentiment-frontend/coverage/lcov.info
          flag-name: sentiment-frontend
        env:
          GITHUB_REF: x-cov-sentiment-frontend
          GITHUB_RUN_ID: ${{ format('{0}_f', github.run_id ) }}
          
  build:
    runs-on: ubuntu-latest
    needs:
      - test-backend
      - test-frontend
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Set up Python 3.8
        uses: actions/setup-python@v2.2.1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          set -e
          cd ./review-sentiment/sentiment-backend
          echo $PWD
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run integration tests with pytest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: sentiment-backend-int
          COVERALLS_PARALLEL: true
        run: |
          set -e
          cd ./review-sentiment/sentiment-backend
          echo $PWD
          pip install -r requirements-test.txt
          pytest -v --cov=sentiment -m "integration" tests/
          # when on master, pretend to be on branch x-cov-sentiment-backend
          $COVERALLS_PARALLEL && export GITHUB_REF="refs/heads/x-cov-sentiment-backend"
          $COVERALLS_PARALLEL && export GITHUB_HEAD_REF="x-cov-sentiment-backend"
          coveralls --service=github
          coveralls --service=github --finish
      - name: Create container and publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@3.02
        with:
          name: xai-demonstrator/review-sentiment-service
          username: ${{ secrets.GHCR_PAT_OWNER }}
          password: ${{ secrets.GHCR_WRITE }}
          registry: ghcr.io
          workdir: review-sentiment/
